# Dependencies
/node_modules

# Build files (if you compile your frontend)
/dist
/build

# Environment Variables
# The .env file contains your SECRET API key. NEVER commit this.
.env

# Logs and databases
*.log
npm-debug.log*
.DS_Store # macOS files
/db/*.sqlite # Example for a local database file

# Operating System Files
.vscode/ # Optional: Ignore VS Code settings/history